<div class="main-container">
    <mat-toolbar>
        <button mat-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>Runelog</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav opened="true" mode="side">
            <mat-nav-list aria-label="Navigation List">
                <a mat-list-item>Reaper</a>
                <a mat-list-item>Slayer</a>
                <a mat-list-item>Clues</a>
                <a mat-list-item>Settings</a>
                Test
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>